.container {
  height: 90%;
  width: 95%;
  background-color: #fff;
  box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
  border-radius: 8px;
}

@media (max-width: 1060px) {
  .container {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
}
